.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../public/fonts/Inter-Bold.ttf);
}
.Poppins-Bold{
  font-family: Poppins-Bold;
}
@font-face {
  font-family: Itim;
  src: url(../public/fonts/Itim-Regular.ttf);
}
.Itim{
  font-family: Itim;
}
@font-face {
  font-family: Inter-Regular;
  src: url(../public/fonts/Inter-Regular.ttf);
}
.Inter-Regular{
  font-family: Inter-Regular;
}
@font-face {
  font-family: Inter-Bold;
  src: url(../public/fonts/Inter-Bold.ttf);
}
.Inter-Bold{
  font-family: Inter-Bold;
}
@font-face {
  font-family: Inter-SemiBold;
  src: url(../public/fonts/Inter-SemiBold.ttf);
}
.Inter-SemiBold{
  font-family: Inter-SemiBold;
}
@font-face {
  font-family: QuickSand;
  src: url(../public/fonts/Quicksand-Regular.ttf);
}
.Inter-SemiBold{
  font-family: QuickSand;
}